__pycache__/
*.pyc
*$py.class
*~
*.swp
*.db
server_database.db
Client_Submissions/
Problems/
Solution/
problems/
submission_files/
config.json
todo.txt
./Server/Reports/server_logs.txt
./Server/Reports/latest_server_logs.txt
./Server/todo.txt