#Ignore these files for now:
__pycache__/
*.pyc
*$py.class
*~
*.swp
*.db
server_database.db
Client_Submissions/
diary
*.json
Server/config.json
Client/config.json
*.pdf
Problems/
Client/Problems/
/Client/Problems/*.pdf