__pycache__/
*.pyc
*$py.class
*~
*.swp
*.db
server_database.db
Client_Submissions/
Problems/
Solution/
problems/
submission_files/
diary
config.json
todo.txt
./Reports/server_logs.txt
./Reports/latest_server_logs.txt
